$cardPrimary:#b5d9dd;
$cardSecondary : #f2f2f3;
@mixin upperCase {
    text-transform: uppercase;
}

.bg{
    background-color: #f8f9fb;
}

.pad-3{
    padding: 3% 0;
}

.myCardone{
    width: 250px;
    height: 200px;
    background-color: $cardSecondary;
}

.myCard{
    width: 250px;
    height: 200px;
    background-color:$cardPrimary;
}

.cardPara{
    font-size: 14px;
   
}

.cardContainer{
    width: 70%;
    margin: 5% auto 0;
}


.innerCard{
width: 100%;
position: absolute;
}

.alignPara{
    margin: 0 27%;
    
}

.alignParatwo{
    margin: 0 20%;
}

.alignParathree{
    margin: 0 25%;
}

.alignParafour{
    margin: 0 35%;
}

.contentCenterone{
    margin: 0 10%;
}

.contentCentertwo{
    margin: 0 10%;
}

.contentCenter{
    margin: 0 25%;
}



.icon{
    width: 58.7px;
    height: 60px;
    position: relative;
    margin: 10% 30% 0 ;
    
}

.icons{
    width: 58.7px;
    height: 60px;
    
}

.mar-10{
    margin-top: 15%;
    @include upperCase;
    
}


.alignBox{
    padding: 20% 8%;
}





.secondCardhead{
    @include upperCase;
    margin: 5% 23%;
}

.secondCardheadtwo{
    @include upperCase;
    margin: 5% 10%;
}

.cardParas {
    font-size: 14px;
    margin: 0 20%;
}

.cardParastwo {
    font-size: 14px;
    margin: 0 10%;
}

@media (max-width: 1024px) {
    .icons{
        margin: 0 30%;
    }
}

@media (max-width: 834px) {
    .alignParatwo{
        margin: 0 4%;
    }

    .secondCardhead{
        margin: 5% 20%;
    }

    .secondCardheadtwo{
        margin: 5% 0;
    }

    .cardParas{
        margin: 0 15%;
    }

    .cardParastwo {
        margin: 0 3%;
    }
}

@media (max-width: 500px) {
    .alignParatwo{
        margin: 0 20%;
    }

    .cardContainer{
        width: 100%;
    }

    .alignBox{
     padding: 10% 20%;
    }

    .secondCardhead{
        margin: 5% 8%;
    }

    .cardParas{
        margin: 0 3%;
    }
    .secondCardheadtwo{
        margin: 5% -7%;
    }

    .cardParastwo{
        margin: 0 -6%;
    }

    .alignParafour{
        margin: 0 33%;
    }

    .icons{
        margin: 0 20%;
    }

    .contentCenter{
        margin: 0 20%;
    }
}

@media (max-width: 350px) {
    .alignBox{
        padding: 10% 20%;
    }

    .secondCardheadtwo{
        margin: 5% -10%;
    }

    .cardParastwo{
        margin: 0 -10%;
    }
}