.subscribeContainer{
    background-color: #018894;
    max-width: 100%;
    padding: 5%;
}   


.subscribePara{
    font-size: 42px;
    line-height: 52px;
    color: #fff;
}

.subPara{
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
}

.subscribeInput{
    width: 25%;
    margin: 0 auto;
    padding: 2% 0;
}

.subBtnprimary{
    border-radius: 25px;
}

.subBtn{
    background-color: #00484e;
    color: #fff;
    font-size: 20px;
    line-height: 19px;  
}

.inputBox{
    background-color: #fff;
    font-style: italic;
}

@media (max-width:1024px) {
    .subscribeInput{
        width: 50%;
    }
}

@media (max-width: 500px) {
    .subscribeInput{
        width: 100%;
        padding: 5% 0;
    }


}