.aboutContainer{
    max-width: 100%;
    margin-bottom: 5%;
}

.aboutBox{
    width: 40%;
    margin: 0 auto;
}

.aboutHead{
    
    text-align: center;
    color: #028a96;
    margin: 10% 0 5%;
    font-size: 42px;
    line-height: 50px;
}

.aboutPara{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #1d1c19;
}

@media(max-width: 1024px){
    .aboutBox{
        width: 70%;
    }

}

@media (max-width: 500px) {
    .aboutBox{
        width: 90%;
    }
}