$breakpoint-mobile:500px;

.topicContainer{
    background-color: #b5d9dd;
    width: 60%;
    border-radius: 22px;


}

.topicHeading{
    font-size: 32px;
    line-height: 45px;
    color: #484444;
    text-align: center;
}

.topicInnerbox{
    padding: 5% 0 1%;
}

.topicListcontainer{
    margin: 5% auto;
    width: 60%;

}

ul {
    .topicList{
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;

    }
}


@media (max-width: $breakpoint-mobile) {
    .topicContainer{
        width: 90%;
    }

    .topicListcontainer{
        width: 100%;
    }
}