$breakpoint-tablet : 1024px;

.purposeContainer{
    width: 70%;
    margin: 5% auto;
}


.purposeHeading{
    font-size: 42px;
    line-height: 45px;
    text-align: left;


}

.purposePara{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}


.purposeBanner{
    width: 100%;
    max-height: auto;
}

.purposeListhead {

    margin-left: -20px;

    .purposeList{
        text-align: left;
        font-size: 20px;
        line-height: 25px;
        color: #000;
        margin: 5% 0;
    }
}


.v_line{
    width: 30%;
    height: 6px;
    background-color: #ff6400;
    margin: 3% 0;
    
}

@media(max-width: $breakpoint-tablet) {
    .purposeContainer{
        width: 100%;
    }
}