$primaryColor: #008894;
$whiteColor : #f5f5f5;
$blackColor: #000;
$navIcon : url('./img/bar.png');
@mixin mar-auto {
    margin: 0 auto;
}

$breakpoint-mobile : 385px;
$breakpoint-tab : 992px;
$breakpoint-lap: 1080px;

.navbar-primary {
    background-color: $whiteColor;
}

.navColor{
    background-color: $whiteColor;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav .nav-link {
    margin: 0 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: $blackColor;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $primaryColor;
}

.navbar-toggler{
    background-color: $primaryColor;
}

.navbar-light .navbar-toggler-icon{
    background-image: $navIcon; 
}

.btn-primarys {
    background-color: $primaryColor;
    color: $whiteColor;
    border-color: $primaryColor;
    box-shadow: $primaryColor;
    border-radius: 5px;
    max-width: 100px;
}

.btn-primarys:hover {
    background-color: $primaryColor;
    color: $whiteColor;
}

.navbar-dark .navbar-toggler {
    background-color: $blackColor;
}

.w-80{
    width: 80%;
    @include mar-auto;

}

.nav {
    margin: 0 10%;
}

@media (max-width: $breakpoint-lap) {
    .navbar-nav .nav-link {
        margin: 0 0;
    }
    
}


@media (max-width: $breakpoint-tab) {

    .nav {
        margin: 0 auto ;
    }

    
}

@media (max-width : $breakpoint-mobile) {
    .w-80{
        width: 100%;
    }
  
    

}


