$breakpoint-tablet : 1024px;

.bannerImage{
    width: 100%;
    margin-left: -50px;
    max-height: 700px;
}

.learnContainer{
    margin-top: 8%;
}

.learnHeading{
    font-size: 42px;
    line-height: 45px;
    text-align: left;
    color: #1d1c19;

}

.h_line{
    width: 35%;
    margin: 0;
    height: 6px;
    background-color:#028a96
}

.learnBox{
    width: 80%;
    margin: 5% 0 ;
}

ul {
    .learnList{
        font-size: 20px;
        line-height: 30px;
        color: #000;
        margin: 5% 0;
        margin-left: -20px;
    }
}

@media (max-width: 1024px) {
    .bannerImage{
        margin-left: 0;
    }

    .h_line{
        width: 20%;
    }
}

@media (max-width: 500px) {
    .h_line{
        width: 35%;
    }

    .learnBox{
        width: 100%;
    }
}