$primaryColor: #008894;
$whiteColor : #f5f5f5;
$pureWhite: #ffffff;
$blackColor: #000;

$breakpoint-tab : 992px;
$breakpoint-mob: 575px;


.headerBanner{
    max-height: 560px;

}

.bannerPara{
    font-style: italic;
    font-size: 16px;
    color: #484444;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-infos{
    background-color: $pureWhite;
    color: $primaryColor;
    border-color: $primaryColor;
    width: 200px;
}

.topBox{
    margin: 5% auto;
}

.w-80{
    width: 80%;
}

.mar-5{
    margin-top: 5%;
}

.logo{
    width: 100px;
    height: 80px;
}

@media (max-width: $breakpoint-tab) {
    .topBox{
        margin-bottom: 20px;
    }
}


@media (max-width: $breakpoint-mob) {
    .myRow{
        display: flex;

    }

    .col-3{
        width: 70%;
    }
}

